<section class="cart-show">

  <header class="page-header">
    <h1>My Cart</h1>
  </header>

  <% if enhanced_cart.empty? %>
    <div class="alert alert-danger" role="alert">Cart is empty. Shop around!</div>
    <%= link_to 'View Products', products_path, class: 'btn btn-link' %>
  <% else %>
    <%= render 'cart' %>
  <% end %>

</section>
