<h1>About</h1>

<%# <img src="../../assets/images/lion_king.jpeg" alt="image"> %>
<img src="https://upload.wikimedia.org/wikipedia/en/thumb/2/23/LionKingCharacters.jpg/300px-LionKingCharacters.jpg" alt="image">

<p>Ee-e-e-oh-mum-a-weh</p>
<p>Ee-e-e-oh-mum-a-weh</p>

<p>Uyimbube, uyimbube, uyimbube, uyimbube</p>
<p>Uyimbube, uyimbube, uyimbube, uyimbube</p>
<p>Uyimbube, uyimbube, uyimbube, uyimbube</p>
<p>Uyimbube, uyimbube, uyimbube, uyimbube</p>

<p>In the jungle, the mighty jungle</p>
<p>The lion sleeps tonight</p>
<p>In the jungle, the quiet jungle</p>
<p>The lion sleeps tonight</p>

<p>Uyimbube, uyimbube, uyimbube, uyimbube</p>
<p>Uyimbube, uyimbube, uyimbube, uyimbube</p>
<p>Uyimbube, uyimbube, uyimbube, uyimbube</p>
<p>Uyimbube, uyimbube, uyimbube, uyimbube</p>

<p>Near the village, the peaceful village</p>
<p>The lion sleeps tonight</p>
<p>Near the village, the quiet village</p>
<p>The lion sleeps tonight</p>

<p>Uyimbube, uyimbube, uyimbube, uyimbube</p>
<p>Uyimbube, uyimbube, uyimbube, uyimbube</p>
<p>Uyimbube, uyimbube, uyimbube, uyimbube</p>
<p>Uyimbube, uyimbube, uyimbube, uyimbube</p>
<p>Hush my darling, don't fear my darling</p>
<p>The lion sleeps tonight</p>
<p>Hush my darling, don't fear my darling</p>
<p>The lion sleeps tonight</p>

<p>Uyimbube, uyimbube, uyimbube, uyimbube</p>
<p>Uyimbube, uyimbube, uyimbube, uyimbube</p>
<p>Uyimbube, uyimbube, uyimbube, uyimbube</p>
<p>Uyimbube, uyimbube, uyimbube, uyimbube</p>

<p>Ee-e-e-oh-mum-a-weh</p>
<p>Ee-e-e-oh-mum-a-weh</p>
